# Local configuration
config.json
test_template.py

# Debug files
debug*.ipynb
debug*.py
debug_files/
notebooks/
templates/

# Python artifacts
__pycache__
pycache/
*.pyc
*.pyo
*.pyd

# IDE / Editor
.vscode
.pytest_cache
.coverage
explorica.egg-info/

# Sphinx build artifacts
docs/build/
docs/_build/
